.container {
  display: flex;
  align-items: center;
  background-color: #0D0C0C;
  font-size: 1.3vw; /* 20px ≈ 1.3vw */
  color: white;
  padding: 0.7vw; /* 10px ≈ 0.7vw */
  cursor: pointer;
  border-radius: 0.7vw; /* 10px ≈ 0.7vw */
  margin: 0 1vw 1.3vw; /* 15px ≈ 1vw | 20px ≈ 1.3vw */
  text-decoration: none; /* remove a linha */
  display: block;  
}

.container > svg {
  margin: 0 1.3vw; /* 20px ≈ 1.3vw */
}

.container:hover {
  background-color: #B91010;
}
