.header-container {
  /* height: 50px; */
  display: flex;
  background-color: #1a202c00;
}

.header-container > svg {
  position: fixed;
  color: #B91010 !important;
  width: 2vw;   /* 30px ≈ 2vw em telas de 1500px de largura */
  height: 2vw;  /* 30px ≈ 2vw */
  margin-top: 2.1vw;  /* 32px ≈ 2.1vw */
  margin-left: 2.1vw; /* 32px ≈ 2.1vw */
  cursor: pointer;
}

.red-header {
  background-color: red; /* cor para cadastrar usuário */
}
