.cadastro-section {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* coluna esquerda (fundo escuro com ícone) */
.side-cadastro {
    flex: 0 0 80%;
    background: #170203;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.side-cadastro .perfil-img {
    width: 30%;
    max-width: 220px;
    height: auto;
    object-fit: contain;
}

/* coluna direita (formulário) */
.form-cadastro {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* form interno */
.form-cadastro form {
    display: flex;
    flex-direction: column;  
    gap: 15px;               
    width: 100%;
    max-width: 400px;
    margin-left: 7vw;
}

.row-cadastro {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row-cadastro input {
    padding: 12px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    width: 35vw;
}

.salvar-btn-cadastro {
    width: 100%;
    background-color: #b91010;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 37vw;
}

input:focus{
    border: 0.01px solid transparent;
    background-image: linear-gradient(#fff, #fff),
                      linear-gradient(120deg, #b91010, #ff4d4d, #b91010);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 0 2px rgba(185, 16, 16, 0.7);
    transition: all 0.2s ease-in-out;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}

.perfil-img {
    animation: float 2s ease-in-out infinite;
}

@media (max-width: 900px) {
    .cadastro-section {
        flex-direction: column;
        height: auto;
    }

    .side-cadastro {
        flex: 0 0 auto;
        width: 100%;
        padding: 40px 0;
        min-height: 180px;
    }

    .form-cadastro {
        padding: 30px 20px;
    }
}